
.auth-main-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.auth-main-content{
  position: absolute;
  top: 6rem;
}

.auth-main-form {
  flex: 1;
  height: 100%;
  padding: 1rem;
  position: relative;
}
.auth-illustration {
  flex: 1;
  height: 700px;
  max-height: 100%;
  padding: 1rem;
  border-radius: 0 12px 12px 0;
  max-width: 50%;
}

.auth-illustration-text {
  height: 100%;
  text-align: center;
  display: grid;
  place-items: top;
}

.auth-illustration-text h1 {
  margin: 1rem;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-background);
}

.auth-illustration-text p {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-background);
}
.auth-illustration-pic-holder {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-illustration-pic {
  width: auto;
  height: auto;
  max-width: 75%;
}

.or-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.or-bar {
  height: 1px;
  width: 40%;
  background-color: var(--color-text);
}

.or-text {
  margin: 0 10px;
  color: var(--color-text);
  font-weight: bold;
  text-transform: uppercase;
}

.social-auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-auth-content {
  width: fit-content;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  gap: 1rem;
}

.social-auth-button {
  background: transparent;
  border: none;
  max-width: 100%;
  width: auto;
  height: auto;
  scale: 1.15;
}

.social-auth-button img{
  max-width: 24px;
}

.social-auth-button:hover {
  cursor: pointer;
  scale: 1.225;
}

.auth-illustration-mobile{
  display: none;
}

@media screen and (max-width: 800px) {
  .auth-main-content{
    top: 0;
  }
  .auth-main-form{
    width: 100%;
  }
  .auth-main-container{
    margin-top:90px;
    align-items: flex-start;
  }
  .auth-illustration{
    display: none;
  }
  .auth-illustration-mobile{
    display: block;
    width: calc(100%);
    height: auto;
    position: absolute;
    left: 50%;
    height: auto;
    padding: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 0 0 12px 12px;
  }
  .auth-illustration-text{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth-illustration-text h1{
    font-size: 1.3rem;
  }
  .auth-illustration-text p{
    font-size: 1rem;
  }
  .auth-illustration-text-mobile{
    height: fit-content;
  }
}
