.main-dashboard-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-dashboard-content {
  position: relative;
  max-width: 1440px;
  width: 95%;
  margin-top: 6rem;
  padding: 2rem;
  padding-top: 0;
  background-color: var(--color-backgroundSecondary);
  border-radius: 12px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.bar-chart-holder-pro {
  width: 100%;
  height: 35vh;
  min-height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-dashboard {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
  transition: height 150ms ease-in-out;
}

.main-content-dashboard-landingpage {
  padding: 1rem;
  width: 100%;
  max-width: 1440px;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
  transition: height 150ms ease-in-out;
}
.input-actions-dashboard {
  width: 100%;
  padding-right: 1rem;
  border-radius: 12px;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

#input-actions-dashboard-shortCode {
  width: 100%;
  padding-right: 1rem;
  border-radius: 12px;
  position: relative;
  display: flex;
  position: relative;
  align-items: stretch;
  gap: 1rem;
  justify-content: space-between;
}

#input-actions-dashboard-shortCode input {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-background);
  border: 2px solid;
  border-color: transparent;
  border-radius: 12px;
  outline: none;
  color: var(--color-text);
}

.edit-shortCode-container {
  display: flex;
  gap: 1rem;
  flex: 1.5;
}

#input-actions-dashboard-shortCode input:focus {
  border: 2px dashed;
  border-color: var(--color-darkSpecial);
}

#input-actions-dashboard-shortCode-button {
  height: 100%;
  min-height: 3rem;
  padding: 0 .5rem;
  align-self: center;
  border-radius: 12px;
  min-width: 92px;
  border: 3px solid;
  white-space: nowrap;
  border-color: transparent;
  background-color: var(--color-lightSpecial);
  color: white;
}

.back-home-dashboard svg{
  min-width: 32px;
  height: auto;
}

.back-home-dashboard{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--color-text);
  padding: .3rem;
  padding-top: 0rem;
  text-align: center;
}

.custom-tooltip{
  padding: 1rem;
  background-color: var(--color-text);
  border-radius: 12px;
  color: var(--color-background);
}

.back-home-dashboard:hover{
  cursor: pointer;
}

.leaflet-container {
  min-height: 200px;
  height: 40vh;
  max-height: 500px;
  top: 1rem;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.leaflet-pane img {
  position: absolute;
}

#input-actions-dashboard-shortCode-button:hover {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-color: var(--color-lightSpecial);
  color: var(--color-text);
}

#short-code-info-button {
  padding: 0 0.5rem;
  min-width: 92px;
  height: 100%;
  min-height: 3rem;
  align-self: center;
  border-radius: 12px;
  border: 3px solid;
  border-color: transparent;
  background-color: rgb(241, 88, 88);
  color: white;
}

#short-code-info-button:hover {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-color: rgb(241, 88, 88);
  color: var(--color-text);
}

#edit-shortCode {
  color: var(--color-text);
  flex: 1;
  text-align: center;
  word-break: keep-all;
  height: fit-content;
  margin-left: 0.5rem;
}

.short-code-info-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.short-code-info-container h3 {
  width: fit-content;
  align-self: center;
  text-align: center;
  color: var(--color-text);
}

.short-code-info-container h3 span {
  color: var(--color-accent);
}

.input-actions-dashboard input {
  flex: 2;
  padding: 1rem;
  background-color: var(--color-background);
  border: 2px solid;
  border-color: transparent;
  border-radius: 12px;
  outline: none;
  color: var(--color-text);
}

.input-actions-dashboard input:focus {
  border: 2px dashed;
  border-color: var(--color-darkSpecial);
}

.input-actions-dashboard button {
  flex: .5;
  height: 100%;
  min-height: 3rem;
  align-self: center;
  margin-right: -1rem;
  border-radius: 12px;
  border: 3px solid;
  font-size: 1.2rem;
  font-weight: 600;
  border-color: transparent;
  background-color: var(--color-lightSpecial);
  color: white;
}
.input-actions-dashboard button:hover {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-color: var(--color-lightSpecial);
  color: var(--color-text);
}

.created-links-dashboard {
  margin: 1rem;
  margin-bottom: 0;
  width: 100%;
}

.dashboard-page-select {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-page-select-dashboard button {
  background-color: transparent;
  border: 2px dashed;
  border-color: transparent;
  padding: 0.3rem;
  color: var(--color-text);
  border-radius: 5px;
}
.button-page-select-dashboard button:hover {
  border-color: var(--color-text);
  user-select: none;
  cursor: pointer;
}

.page-identifier h3 {
  text-align: center;
  font-weight: 400;
  color: var(--color-text);
}

.dasboard-title {
  text-align: center;
  color: var(--color-text);
  margin: 1rem;
}
.dasboard-title span {
  color: var(--color-accent);
}

.dasboard-title span span h4 {
  font-size: 1rem;
  color: var(--color-text);
  margin: 0.3rem;
}

.no-links-holder {
  font-weight: 400;
  color: var(--color-text);
  font-size: 1rem;
  text-align: center;
}

.page-select-pro-dashboard {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
.page-select-pro-dashboard h2 {
  color: var(--color-text);
  padding: 0.3rem;
}

.page-select-pro-content {
  padding-top: 0.5rem;
  display: flex;
  gap: 3px;
}
.page-select-pro-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-select-pro-item button {
  width: 100%;
  color: var(--color-text);
  background-color: transparent;
  border: none;
  outline: solid 3px var(--color-text);
  padding: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  font-size: 1rem;
}

.page-select-pro-item button:hover {
  cursor: pointer;
  user-select: none;
}

.page-select-pro-item #selected {
  color: var(--color-background);
  background-color: var(--color-text);
}

@media screen and (max-width: 1099px) {
  .main-dashboard-content {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1250px) {
  #input-actions-dashboard-shortCode {
    flex-direction: column;
  }

  .edit-shortCode-container{
    flex-direction: column;
    width: 100%;
    gap: .5rem;
  }

  #input-actions-dashboard-shortCode-button{
    width: 100%;
  }

  #short-code-info-button{
    width: 100%;
  }

  .short-code-info-container{
    flex-direction: column;
  }

  .input-actions-dashboard{
    flex-direction: column;
    padding: 0;
  }

  .input-actions-dashboard button{
    width: 100%;
    margin: 0;
  }
  
}
