.more-info-outer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-info-inner-container{
    width: 95vw;
    max-width: 1440px;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .75rem;
}

.more-info-title h2{
    color: var(--color-text);
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
}

.more-info-table-holder{
    width: 100%;
}

.more-info-table-holder{
    margin-top: 2rem;
}

#more-info-table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#more-info-table-head{
    width: 100%;
    display: flex;
    justify-content: center;

}
#more-info-table-body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#more-info-table-title{
    width: 100%;
    display: flex;
    align-items: center;
}

#more-info-table-title th{
    width: 18.75%;
    background-color: var(--color-backgroundSecondary);
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-text);
    align-items: center;
    border: 1px solid var(--color-text);
    border-top: 0;
}

#more-info-table-title th:nth-child(odd){
    background-color: var(--color-background);
    border-left: 0;
    border-right: 0;
}
#more-info-table-title td:nth-child(odd){
    background-color: var(--color-background);
    border-left: 0;
    border-right: 0;
}

#more-info-table-desc{
    text-align: center;
}

#more-info-table-desc svg{
    min-height: 20px;
    width: auto;
}

#more-info-table-title td{
    width: 18.75%;
    background-color: var(--color-backgroundSecondary);
    padding: 1rem;
    height: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-top: 0;
}

#more-info-table-title 


#more-info-table-title th h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#more-info-table-title th h4{
    font-weight: 400;
}

#more-info-table-title th button{
    background-color: var(--color-text);
    border: none;
    border: 2px solid transparent;
    color: var(--color-backgroundSecondary);
    width: 100%;
    border-radius: 12px;
    margin-top: 1rem;
    padding: .5rem;
    font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

#more-info-table-title th button:hover{
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border-color: var(--color-text);
    color: var(--color-text);
}

.mobile-more-info-desc-holder{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: .75rem 1rem;
    border: 1px solid var(--color-text);
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    color: var(--color-text);
}

.mobile-more-info-container ul{
    list-style: none;
}

.mobile-more-info-desc-holder:nth-child(even){
    background-color: var(--color-backgroundSecondary);
}

.mobile-more-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-text);
}

.mobile-more-info-container ul li{
    padding: .5rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.feature-title-more-info{
    padding: 1rem 0;
    padding-bottom: 0;
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-title-more-info svg{
    flex: 1;
    min-width: 24px;
    max-height: 24px;
    margin-bottom: .5rem;
    height: auto;
}

.feature-title-more-info p{
    flex: 75;
}

.feature-title-more-info:hover{
    cursor: pointer;
    user-select: none;
}

.not-expanded-more-info{
    display: none !important;
}

.feature-title-more-info-not-expanded-more-info{
    border: 1px solid var(--color-text);
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}