.card{
    max-width: 800px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 0;
    background-color: var(--color-backgroundSecondary);
    filter: drop-shadow(0 0 .75rem rgba(0, 0, 0,0.2));
}