.header-container {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: var(--color-backgroundSecondary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container__icon {
  flex: 0.5;
  height: 100%;
}

.header-container__actions {
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container__theme {
  margin-right: 1rem;
}

.header-theme-button {
  background-color: transparent;
  outline: none;
  border: none;
  max-width: 4rem;
  padding: 1rem;
}

.header-theme-button__icon {
  width: 100%;
  height: 100%;
}

.header-theme-icon__dark {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0,0)) invert(76%) sepia(13%) saturate(7085%) hue-rotate(193deg)
    brightness(96%) contrast(88%);
  -webkit-transition: 1s -webkit-filter cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 1s -moz-filter cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 1s filter cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: 1s -ms-filter cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 1s -o-filter cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1s filter cubic-bezier(0.19, 1, 0.22, 1),
    1s -webkit-filter cubic-bezier(0.19, 1, 0.22, 1);
}

.header-theme-icon__light {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0,0)) invert(67%) sepia(7%) saturate(2477%) hue-rotate(287deg)
    brightness(84%) contrast(88%);
  -webkit-transition: 1s -webkit-filter cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 1s -moz-filter cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 1s filter cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: 1s -ms-filter cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 1s -o-filter cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1s filter cubic-bezier(0.19, 1, 0.22, 1),
    1s -webkit-filter cubic-bezier(0.19, 1, 0.22, 1);
}

.header-theme-icon__dark:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem #000000) invert(76%) sepia(13%)
    saturate(7085%) hue-rotate(193deg) brightness(96%) contrast(88%);
}

.header-theme-icon__light:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem #000000) invert(67%) sepia(7%) saturate(2477%)
    hue-rotate(287deg) brightness(84%) contrast(88%);
}

.header-container__auth {
  width: 15rem;
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

.header-auth__button {
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  outline: none;
  border: solid 2px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.header-auth__button:hover {
  cursor: pointer;
  user-select: none;
}

.login {
  border-color: var(--color-lightSpecial);
  background-color: var(--color-darkSpecial);
}

.login:hover {
  filter: drop-shadow(0 0 0.5rem var(--color-lightSpecial));
}

.signup {
  border-color: var(--color-darkSpecial);
  background-color: var(--color-lightSpecial);
}

.signup:hover {
  filter: drop-shadow(0 0 0.5rem var(--color-darkSpecial));
}
