.header-container {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: var(--color-backgroundSecondary);
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: box-shadow 150ms ease-in-out;
}
.transparent {
  background-color: transparent;
  box-shadow: none;
}

.header-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-container__icon {
  flex: 0.5;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.header-container__icon h1 {
  width: fit-content;
  margin-left: 2.5rem;
  transition: all ease-in-out .15s;
  color: var(--color-text);
}

.header-container__icon h1:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.header-navigation{
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;

}
.header-container__actions {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container__theme {
  margin-right: 1rem;
  padding: 1rem;
  padding-right: 1rem;
}

.header-container__auth {
  width: 15rem;
  display: flex;
  gap: 0.1rem;
  margin-right: 1rem;
}

.header-auth__button {
  height: 2.5rem;
  border-radius: 10px;
  outline: none;
  border: solid 2px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  color: var(--color-text);
  font-weight: 400;
  font-size: 1rem;
  font-family: "Epilogue";
}

.header-auth__button:hover {
  cursor: pointer;
  user-select: none;
}

.login {
  width: fit-content;
  margin-right: 2.5rem;
  margin-left: 2rem;
  border-color: transparent;
  background-color: transparent;
}

.login:hover {
  color: grey;
}

.signup {
  width: 6rem;
  border-color: var(--color-text);
  background-color: transparent;
}

.signup:hover {
  background-color: var(--color-text);
  color: var(--color-background);
}

.welcome-back-header-holder{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
  margin-left: 1.5rem;
}



