.register-form__inputs input {
  width: 100%;
  padding: 0.75rem;
  padding-bottom: 0.3rem;
  outline: 0;
  font-family: "Epilogue";
  font-weight: 300;
  font-size: 1.5rem;
  border: 2px solid;
  border-width: 0 0 2px;
  background-color: transparent;
  border-color: var(--color-lightSpecial);
  margin: 1rem;
  margin-left: 0;
  margin-right: 0;
  color: var(--color-text);
}

.error-label-register {
  color: rgb(250, 107, 107);
}

.register-form-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
  color: var(--color-lightSpecial);
}

.submit-button-register {
  font-family: "Epilogue", sans-serif;
  padding: 0.75rem;
  color: var(--color-backgroundSecondary);
  background-color: var(--color-lightSpecial);
  font-size: 1rem;
  font-weight: 400;
  border: 3px solid;
  border-color: transparent;
  border-radius: 12px;
  width: 100%;
  margin-top: 0.3rem;
}

.submit-button-register:hover {
  border-color: var(--color-lightSpecial);
  color: var(--color-text);
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

.password-field {
  position: relative;
}

.show-password-button {
  position: absolute;
  top: 50%;
  right: 0;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  transform: translate(0, -100%);
  background-color: transparent;
  border: none;
}

.show-password-button img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.show-password-button:hover {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1rem;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1rem;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1rem;
}
input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1rem;
}

.reset-pass-login-btn{
  color: var(--color-text);
  width: 100%;
  text-align: center;
  padding: .3rem;
  margin-top: .8rem;
  margin-bottom: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Epilogue";
  font-weight: 200;
  font-size: .8rem;
}

.reset-pass-login-btn p:hover{
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}