.main-container-auth-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-auth-list{
    width: 100%;
    display: grid;
    row-gap: 1rem;
}